extends layout

block style
	link(rel="stylesheet", href="/stylesheets/navigation.css")
	link(rel="stylesheet", href="/stylesheets/about.css")

block header
	include ./navigation.html
	
block content
	#about
		<object data="/pdf/Owen-CV.pdf" type="application/pdf" width="100%" height="100%"></object>