extends layout

block style
	link(rel="stylesheet", href="/stylesheets/navigation.css")
	link(rel="stylesheet", href="/stylesheets/contact.css")

block header
	include ./navigation.html
	
block content
	#contact
		h3 Please contact me at <a href="mailto:owen.yeh@mail.utoronto.ca">owen.yeh@<span style="display:none;">spambot shield</span>mail.utoronto.ca</a>
		