extends layout

block style
	link(rel="stylesheet", href="/stylesheets/navigation.css")
	link(rel="stylesheet", href="/stylesheets/index.css")

block header
	if navBarToggle
		include ./navigation.html
	
block content
	.index
		h3 Welcome to Owen's Website

		h1(class="heading") Owen Yeh
				
