extends layout

block style
	link(rel="stylesheet", href="/stylesheets/navigation.css")
	link(rel="stylesheet", href="/stylesheets/index.css")

block header
	if navBarToggle
		include ./navigation.html
	
block content
	#index
		div(class="heading") HI! I'M OWEN.
		div(class="desc") I am a Master of Applied Science student at the University of Toronto.
				
