doctype html
html
	head
		title= title
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
		link(href='https://fonts.googleapis.com/css?family=Parisienne', rel='stylesheet', type='text/css')
		block style
	body
		#header
			block header
		#content
			block content
		#footer
			block foot
